<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Band</th>
        <th>City</th>
        <th>Year</th>
        <% if @venue.user_id==current_user.id %>
        <th>Actions</th>
        <%end%>
      </tr>

      <tr>
        <td><%= @venue.name %></td>
        <td><%= @venue.city %></td>
        <td><%= @venue.year %></td>
        <td>
        <% if @venue.user_id==current_user.id %>
          <a href="/venues/<%= @venue.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_band/<%= @venue.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
        <%end%>
      </tr>
    </table>
  </div>
</div>
