<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Band</th>
        <th>City</th>
        <th>Bio</th>
        <% if @band.user_id==current_user.id %>
        <th>Actions</th>
        <%end%>
      </tr>

      <tr>
        <td><%= @band.name %></td>
        <td><%= @band.city %></td>
        <td><%= @band.bio %></td>
        <td>
        <% if @band.user_id==current_user.id %>
          <a href="/bands/<%= @band.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_band/<%= @band.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
        <%end%>
      </tr>
    </table>
  </div>
</div>
